#addBox {
  -fx-background-color: #dfdfff;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
  -fx-border-width: 2;
  -fx-border-color: #b6b6b6;
}

#ProductLabel {
  -fx-font-size: 20px;
  -fx-font-family: "Arial";
  -fx-text-fill: #090909;
  -fx-padding: 0 0 0 0;
}

#QuantityLabel {
  -fx-font-size: 20px;
  -fx-font-family: "Arial";
  -fx-text-fill: #090909;
  -fx-padding: 0 0 0 0;
}

#DateLabel {
  -fx-font-size: 20px;
  -fx-font-family: "Arial";
  -fx-text-fill: #090909;
  -fx-padding: 0 0 0 0;
}



#AddLabel {
  -fx-font-size: 30px;
  -fx-font-family: "Arial Black";
  -fx-text-fill: #090909;
  -fx-padding: 0 0 0 0;
}

#AddButton {
  -fx-padding: 10px 40px 10px 40px;
  -fx-border-radius: 10;
  -fx-font-family: "Arial";

}

#background {
  -fx-background-color: linear-gradient(to left bottom, #eeaeca, #e3aad2, #d4a8d9, #c2a7e0, #aba7e5, #98afef, #82b7f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}