#ingredientsLabel {
  -fx-font-size: 30;
    font-weight: bold;
    color: #000000;
    -fx-font-family: "Arial Black";
}

#inventoryLabel {
  -fx-font-size: 30;
    font-weight: bold;
    color: #000000;
    -fx-font-family: "Arial Black";
}

#background {
  -fx-background-color: linear-gradient(to left bottom, #eeaeca, #e3aad2, #d4a8d9, #c2a7e0, #aba7e5, #98afef, #82b7f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}