#credsLbl {
    font-size:80;
    -fx-font-size:60px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #737373;
    -fx-padding: 100 0 0 0;
}
#unameTxtBox {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);

}
#topBarBackground {
    -fx-background-color: #bfbff6;
    -fx-border-color: #cbcbcb;
    -fx-border-width: 0 0 2 0; /* Set border width: top right bottom left */
}



#loginBox {
    -fx-background-color: #F0F8FF;
    -fx-background-radius: 10; /* Set the radius for smooth edges */
    -fx-border-radius: 10; /* Set border radius for smooth edges */
    -fx-border-width: 2; /* Set border width if needed */
    -fx-border-color: #b9b9b9;
}

#logoImage {
    -fx-background-image: url('../images/logo.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-color: #00008B;
    -fx-border-width: 2;
    -fx-background-radius: 10; /* Set the radius for smooth edges */
}

#background {
    -fx-background-color: linear-gradient(to left bottom, #eeaeca, #e3aad2, #d4a8d9, #c2a7e0, #aba7e5, #98afef, #82b7f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

#registerButton {
    -fx-padding: 5px 20px;
}

#loginButton {
    -fx-padding: 5px 25px;
}

#wrongLabel {
    -fx-font-family: "Arial Black";
    -fx-text-fill: #cc3434;
}