#GoInventory {
  -fx-padding: -10 50 10 50;
  -fx-font-size: 20px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
}

#GoRecipes {
  -fx-padding: -10 50 10 50;
  -fx-font-size: 20px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
}

#GoShopping {
  -fx-padding: -10 50 10 50;
  -fx-font-size: 20px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
}

#edit{
  -fx-padding: -5 25 5 25;
  -fx-font-size: 15px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
}

#delete {
  -fx-padding: -5 25 5 25;
  -fx-font-size: 15px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
}

#add {
  -fx-padding: -5 25 5 25;
  -fx-font-size: 15px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
}

#topBarBackground {
  -fx-background-color: #bfbff6;
  -fx-border-color: #cbcbcb;
  -fx-border-width: 0 0 2 0; /* Set border width: top right bottom left */
}

#RecipeLabel {
  -fx-font-size: 30px;
  -fx-font-family: "Arial Black";
  -fx-text-fill: #000000;
  -fx-padding: 0 0 0 0;
  -fx-translate-y: 0;
}
#RecipeName {
  -fx-font-size: 30px;
  -fx-font-family: "Arial Black";
  -fx-text-fill: #000000;
  -fx-padding: 0 0 0 0;
  -fx-translate-y: 0;
}

#background {
  -fx-background-color: linear-gradient(to left bottom, #eeaeca, #e3aad2, #d4a8d9, #c2a7e0, #aba7e5, #98afef, #82b7f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#IngredientsLabel {
  -fx-font-size: 20px;
  -fx-font-family: "Arial Black";
}

#StepsLabel {
  -fx-font-size: 20px;
  -fx-font-family: "Arial Black";
}

#IngredientsBox {
  -fx-background-color: #bdbdbd;
  -fx-border-width: 1;
  -fx-border-color:   #000000;
}

#StepsBox {
  -fx-background-color: #bdbdbd;
  -fx-border-width: 1;
  -fx-border-color:   #000000;

}

#explainBox {
  -fx-background-color: #94ccef; /* Set the background color */
  -fx-background-radius: 10; /* Set the border radius */
  -fx-background-insets: 1; /* Set the padding */
  -fx-padding: 10; /* Additional padding inside the box */
  -fx-border-radius: 10;
  -fx-border-width: 1;
  -fx-border-color : #000000;

}