#ingredientsBox {
    -fx-background-color: #dfdfff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: #b6b6b6;
}

#stepsBox {
    -fx-background-color: #dfdfff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: #b6b6b6;
}

#background {
    -fx-background-color: linear-gradient(to left bottom, #eeaeca, #e3aad2, #d4a8d9, #c2a7e0, #aba7e5, #98afef, #82b7f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}