#credsLbl {
    font-size:80;
    -fx-font-size:30px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #000000;
    -fx-padding: 0 0 0 0;
}

#uNamefieldLbl {
    font-size:12;
    -fx-font-size:12px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #000000;
    -fx-padding: 20 0 0 0;
}

#unameTxtBox {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);

}
#topBarBackground {
    -fx-background-color: #bfbff6;
    -fx-border-color: #cbcbcb;
    -fx-border-width: 0 0 2 0; /* Set border width: top right bottom left */
}


#loginBox {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 10; /* Set the radius for smooth edges */
    -fx-border-radius: 10; /* Set border radius for smooth edges */
    -fx-border-width: 2; /* Set border width if needed */
    -fx-border-color: #2c2c2c;
}


#background {
    -fx-background-color: linear-gradient(to left bottom, #eeaeca, #e3aad2, #d4a8d9, #c2a7e0, #aba7e5, #98afef, #82b7f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}