#credsLbl {
  font-size:80;
  -fx-font-size:60px;
  -fx-font-family: "Lucida Handwriting";
  -fx-text-fill: #00008B;
  -fx-padding: 100 0 0 0;
}

#topBarBackground {
  -fx-background-color: #bfbff6;
  -fx-border-color: #cbcbcb;
  -fx-border-width: 0 0 2 0; /* Set border width: top right bottom left */
}

#ToBuyLabel {
  -fx-font-size: 30px;
  -fx-font-family: "Arial Black";
  -fx-text-fill: #000000;
  -fx-padding: 0 0 0 0;
  -fx-translate-y: 20;
}

#ListView {
  -fx-background-color: #d9d9d9;
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
  -fx-border-width: 2; /* Set border width if needed */
  -fx-border-color: #c9c9c9;

}

#logoBox {
  -fx-background-color: #dfdfff;
}

#background {
  -fx-background-color: linear-gradient(to left bottom, #eeaeca, #e3aad2, #d4a8d9, #c2a7e0, #aba7e5, #98afef, #82b7f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#Ingredient {
  -fx-font-size: 20px;
  -fx-font-family: "Arial Black";
  -fx-padding: 15 0 0 15;
}

#For {
  -fx-font-size: 20px;
  -fx-font-family: "Arial Black";
  -fx-padding: 15 0 0 0;
}

#Price {
  -fx-font-size: 20px;
  -fx-font-family: "Arial Black";
  -fx-padding: 15 15 0 0;

}

#Add {
  -fx-translate-x: 10;
  -fx-padding: 10 50 10 50;
}

#Remove {
  -fx-translate-x: 10;
  -fx-padding: 10 40 10 40;
}

#Amount {
  -fx-font-size: 20px;
  -fx-font-family: "Arial Black";
  -fx-padding: 15 15 0 0;
}

.list-cell {
  -fx-font-size: 14px; /* Adjust the font size as needed */
  -fx-font-family: "Roboto Light"; /* Specify the font family */
  -fx-alignment: center; /* Center the content horizontally */
}


.list-cell:filled:focused {
  -fx-background-color: #b4b4b4;
  -fx-text-fill: black; /* Set the text color to black */
}

.list-view {
  -fx-focus-color: transparent;
}

.list-cell .label {
  -fx-alignment: center; /* Center the content vertically */
}

.list-view .scroll-bar:vertical {
  -fx-opacity: 0; /* Hide vertical scrollbar */
}

.list-view .scroll-bar:horizontal {
  -fx-opacity: 0; /* Hide horizontal scrollbar */
}
#GoInventory {
  -fx-padding: -10 50 10 50;
  -fx-font-size: 20px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
}

#GoRecipes {
  -fx-padding: -10 50 10 50;
  -fx-font-size: 20px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
}

#GoShopping {
  -fx-padding: -10 50 10 50;
  -fx-font-size: 20px;
  -fx-font-family: "Sans Serif Collection";
  -fx-background-radius: 10; /* Set the radius for smooth edges */
  -fx-border-radius: 10; /* Set border radius for smooth edges */
  -fx-background-color: #afafaf;
}